table.table
    thead
        tr
            th(colspan="2") Öffnungszeiten
    tbody
        tr
            td Montag bis Donnerstag
            td 09:00 Uhr - 18:00 Uhr
        tr
            td Freitags
            td 09:00 Uhr - 16:00 Uhr