address
    strong Trebaxa GmbH
    br
    | Stifftstrasse 40
    br
    | 35037 Marburg
    br
    br
    abbr(title="Telefon") Tel.: 
    | 06421 1835491
address
    strong Tomasz Dudek
    br
    a(href="mailto:dudek@trebaxa.com") dudek@trebaxa.com