//- blog.widget.categories.jade
.panel.panel-default
    .panel-heading
        h3.panel-title Blog Kategorien
    .panel-body
        .row
            .col-lg-6
                ul.list-unstyled
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name
            .col-lg-6
                ul.list-unstyled
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name
                    li: a(href="#", titel="...") Kategorie Name