.panel.panel-default
    .panel-heading
        h3.panel-title Blog Suche
    .panel-body
        .input-group
            input.form-control(type="text")
            span.input-group-btn
                button.btn.btn-default(type="button"): i.fa.fa-search
