footer
    .container
        .row
            .col-md-6
                p.copy © Trebaxa GmbH - Marburg 2014
            .col-md-6
                p.copy.pull-right
                    a(href="#") Impressum
                    |  | 
                    a(href="#") Sitemap
                    |  | 
                    a(href="#") Kontakt