a(href="portfolio-item.html")
  img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
h3 Name des Projektes
h4 Kunden Name
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
+abtn('default', 'portfolio-item.html') zum Projekt