//- Section: Unsere Kunden
//! START: Kunden Logos
section
  .container
    .page-header: h2 Unsere Kunden
    .row
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
      .col-md-2.col-sm-4.col-xs-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt='...')
//! END: Kunden Logos