//- Section: Team
//! START: Section Team
section
    .container
        .page-header: h2 Unser Team
        .row
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
            .col-md-4.text-center
                include thumbnail.mitarbeiter.jade
//! END: Section Team