//- Section: Service Liste
//! START: Section Serviceliste
section
    .container
        .page-header: h2 Service Liste
        
        .row
            .col-md-4
                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-tree.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service One
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-tree.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Two
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-car.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Three
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            .col-md-4
                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-database.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Four
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-bomb.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Five
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-train.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Six
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            .col-md-4
                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-plane.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Seven
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-hotel.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Eight
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .media
                    .pull-left
                        span.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-skyatlas.fa-stack-1x.fa-inverse
                    .media-body
                        h4 Service Nine
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//! END: Section Serviceliste