//- Seciton: Portofolio Referenzen
//! START: Section Portfolio Overview
section
  .container
    .page-header: h2 Aus unserem Porfolio
    .row
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
      .col-md-4.col-sm-6
        a(href='portfolio-item.jade.html'): img.img-responsive.img-thumbnail.img-portfolio.img-hover(src='assets/img/placeholder.jpg', alt="")
//! END: Section Portfolio Overview