//- Seciton: Service Panels
//! START: Section Service Panels
section
  .container
    .page-header: h2 Service Panels
    .row
      .col-md-3.col-sm-6
          
        .panel.panel-default.text-center
          .panel-heading
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-tree.fa-stack-1x.fa-inverse
          .panel-body
            h4 Service
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +abtn('primary', '#') Details
            
      .col-md-3.col-sm-6
          
        .panel.panel-default.text-center
          .panel-heading
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-car.fa-stack-1x.fa-inverse
          .panel-body
            h4 Service
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +abtn('primary', '#') Details
            
      .col-md-3.col-sm-6
          
        .panel.panel-default.text-center
          .panel-heading
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-support.fa-stack-1x.fa-inverse
          .panel-body
            h4 Service
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +abtn('primary', '#') Details
            
      .col-md-3.col-sm-6
          
        .panel.panel-default.text-center
          .panel-heading
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-database.fa-stack-1x.fa-inverse
          .panel-body
            h4 Service
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +abtn('primary', '#') Details
//! END: Section Service Panels