//- Seciton: Freatures
//! START: Features
section
  .container
    .page-header: h2 Eifriger Heinz Features
    .row
      .col-md-6
        p Installierte Komponenten in diesem Template
        ul
          li <strong>Bootstrap v. 3.5.5</strong>
          li jQuery v. 2.1.4
          li Font Awesome v. 4.3.0
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
      .col-md-6
        img.img-responsive.img-thumbnail(src='assets/img/placeholder.jpg', alt="")
//! END: Features