//- Seiten Variablen
- var currentUrl = '/portfolio-1-col.html'
- var sitename = 'Portfolio'
//- Seiten Variablen

doctype html
html(lang="de")

  include ./includes/head.jade

  body#page-top
    .site-wrapper
      
      include ./includes/nav/nav.jade
      
      section
        .container
            
          .page-header: h1 Portfolio <small>Einsapltig</small>
          +breadcrumb
            li.active Portfolio
          
          include ./includes/portfolio.list-item-one-col.jade
          hr
          include ./includes/portfolio.list-item-one-col.jade
          hr
          include ./includes/portfolio.list-item-one-col.jade
          hr
          include ./includes/portfolio.list-item-one-col.jade
          hr
          include ./includes/portfolio.list-item-one-col.jade
          hr
          
          //- Include Seiten Pagination
          include ./includes/site.pagination.jade
          
          
          
      include ./includes/footer.jade
      include ./includes/back-to-top-button.jade
    
    //- Java Scripts einbinden
    script(src="assets/js/template.min.js")