//- Seiten Variablen
- var currentUrl = '/pricing.html'
- var sitename = 'Preistabellen'
//- Seiten Variablen

doctype html
html(lang="de")

  include ./includes/head.jade

  body#page-top
    .site-wrapper
        
      include ./includes/nav/nav.jade
      
      .section
        .container
          
          .page-header: h1 Preis Tabellen
          
          +breadcrumb
            li.active Preistabellen

      include ./includes/footer.jade
      include ./includes/back-to-top-button.jade
    
    //- Java Scripts einbinden
    script(src="assets/js/template.min.js")